* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

a {
  text-decoration: none;
}

a.foot:hover {
  text-decoration: none;
  text-decoration-thickness: 3px;
  text-decoration-color: hsl(228, 12%, 48%);
}

a.foot:focus {
  color: hsl(228, 12%, 48%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 0px 100px 0px;
}

#desktop-img {
  width: auto;
  max-height: 370px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#mobile-img {
  display: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  gap: 16px;
  width: 250px;
  height: 370px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.text-container > p {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
}

h2 {
  font-family: Fraunces, serif;
  font-size: 30px;
  max-width: 250px;
}

#perfume {
  letter-spacing: 0.5em;
  font-size: 12px;
  padding-top: 20px;
}

.price {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.price #real {
  font-family: Fraunces, serif;
  font-size: 26px;
  color: hsl(158, 36%, 37%);
}

.price #fake {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  padding-top: 8px;
  padding-left: 15px;
}

button {
  padding: 15px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
}

button > a {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  padding-left: 10px;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

button:hover {
  background-color: hsl(212, 21%, 14%);
  text-decoration: none;
}

.attribution {
  text-align: center;
  font-family: Montserrat, sans-serif;
}

button > img {
  display: inline-block;
}

#icon {
  max-width: 15px;
  max-height: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
  }

  #desktop-img {
    display: none;
  }

  #mobile-img {
    display: block;
    width: 340px;
    border-bottom-left-radius: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: none;
  }

  .text-container {
    width: 340px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
    padding-right: 30px;
    height: 350px;
  }

  h2 {
    font-family: Fraunces, serif;
    font-size: 28px;
    max-width: 250px;
  }

  .text-container > p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
  }

  button {
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
  }
}